/* Impostazioni Generali */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;0,900;1,100&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container_principale{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    width: 80%;
    /* regole di debug */
    height: 700px;
    background-color:white;
    font-size: 12px;
    color: rgb(180, 180, 180);
}

/* Regole generali  */
header, .first_msection{
    margin-bottom: 10px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
} 

/* header  */
#logo{
    width: 170px;
    border-right: 1px solid rgba(168, 168, 168,0.3);;
    height: 60px;
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
/* nav  */
nav{
    margin-bottom: 30px;
}
nav li {
    display: inline-block;
    margin-right: 5px;
}

nav a{
    font-size: 12px;
    text-decoration: none;
    color:rgb(168, 168, 168);
}





/* main */
.jumbotron{
    height: 380px;

}
.immagine_sfondo{
    background-image: url('../img/banner.jpg');
    height: 100%;
    position: relative; 
    background-position: center;
    border-radius: 10px;
}
.opacity{
    background-color: rgba(0, 0, 0, 0.151);
    height: 100%;
    border-radius: 10px;
}
.eyeshere{
    font-size: 18px;
    width: 55%;
    padding: 0 0 30px 30px;
   position: absolute;
   left: 0;
   bottom: 0;
   color: white;
}
.eyeshere div{
    margin-bottom: 0;
}
.eyeshere p{
    font-size: 8px;

}

/* inizio seconda sezione  */


h1{
    font-size: 30px;
    color: black;
    font-weight:500;
}
.titolo_sezione2{
   margin: 30px 0;
    /* regole di debug  */
    
}

.h4{
    color: black;
    margin: 5px 0;
}
.lati_principale{
    float: left;
    width: 20%;
    /* regole di debug  */
   
}
.img_altezza{
    height: 230px;
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: 10px;
}
.immagine_{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.principale{
    width: 50%;
    margin: 0 5%;
    float: left;
}

/* footer  */
footer{
    text-align: center;
    margin: 20px 0;
    color: black;
}

    

#foot::after{
    content: '\2665';
    color: red;
} 


